<header class="uc-header _black _fixed">
  <h1 class="uc-header-logo"><a href="/">UNITS</a></h1>
  <div class="uc-header-menu _hide-small">
    <a href="/docs/">Document</a>
    <a href="https://codepen.io/search/pens/?q=units&limit=kokushin" target="_blank">Snippets</a>
    <a href="/themes/">Themes</a>
    <a href="https://github.com/kokushin/unitscss" target="_blank">GitHub</a>
    <a href="https://twitter.com/kokushing" target="_blank">Twitter</a>
  </div>
  <div class="uc-menu-btn _hide-medium _hide-large" data-open-target="#menu">
    <button><i class="uc-menu-btn-icon"></i></button>
  </div>
</header>
