<div class="uc-hero">
  <div class="uc-hero-bg" style="background-image:url(https://source.unsplash.com/random)"></div>
  <div class="uc-hero-title"><%= title %></div>
  <p><%= text %></p>
  <!--<div class="uc-btn-unit">
    <div class="uc-btn"><a href="/docs/">Get started</a></div>
  </div>-->
</div>
