<div class="uc-hero">
  <div class="uc-hero-bg" style="background-image:url(https://source.unsplash.com/MmuW8T6GwK4)"></div>
  <div class="uc-hero-title"><%= title %></div>
  <p><%= text %></p>
  <div style="margin-top:2.5em">
    <div style="display:inline-block">
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/kokushin/unitscss" data-icon="octicon-star" data-size="large" aria-label="Star kokushin/unitscss on GitHub">Star</a>
    </div>
    <div style="display:inline-block;margin:0 8px">
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/kokushin/unitscss/archive/master.zip" data-icon="octicon-cloud-download" data-size="large" aria-label="Download kokushin/unitscss on GitHub">Download</a>
    </div>
    <div style="display:inline-block">
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/kokushin/unitscss/subscription" data-icon="octicon-eye" data-size="large" aria-label="Watch kokushin/unitscss on GitHub">Watch</a>
    </div>
  </div>
  <!--<div class="uc-btn-unit">
    <div class="uc-btn"><a href="/docs/">Get started</a></div>
  </div>-->
</div>
