public/* linguist-documentation
public/docs/* linguist-documentation
public/ja/* linguist-documentation
public/ja/docs/* linguist-documentation
public/themes/* linguist-documentation
public/themes/blog/* linguist-documentation
public/themes/light/* linguist-documentation
public/themes/portfolio/* linguist-documentation
public/themes/product/* linguist-documentation
