html {
  font-size: 100%;
}

body {
  font-family: $uc-fonts;
  @include uc-font-size(16);
  color: $uc-color-txt;
  letter-spacing: .05em;
  line-height: 1.6;
}

hr,
.uc-hr {
  height: 0;
  border: 0;
  border-top: 1px solid $uc-color-border;
  margin: 80px 0 40px;
  box-sizing: content-box;
  overflow: visible;
}

* + hr,
* + .uc-hr {
  margin-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  & + p {
    margin: 16px 0 0;
  }
}

p {
  color: $uc-color-txt;
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin: 56px 0 0;
  }
}

a {
  color: $uc-color-txt;
  ._of-dark &,
  ._of-black & {
    color: white;
  }
  &:hover {
    text-decoration: none;
  }
}

pre {
  margin: 0;
  height: 100%;
  white-space: pre-wrap;
}

code {
  padding: 0 8px;
  color: #d81b60;
}
