@mixin font-size($px, $context: 16) {
  font-size: ($px / $context) * 1rem;
}

@mixin z-index($lv: 1) {
  @if $lv == 1 {
    z-index: 5999;
  } @else if $lv == 2 {
    z-index: 9999;
  } @else if $lv == 3 {
    z-index: 15999;
  } @else if $lv == 4 {
    z-index: 19999;
  } @else if $lv == 5 {
    z-index: 25999;
  } @else {
    z-index: 5999;
  }
}

@mixin unit-margin() {
  margin: 56px auto 0;
  @media (--small-screen) {
    margin: 32px auto 0;
  }
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6,
  & + p {
    margin: 56px auto 0;
    @media (--small-screen) {
      margin: 32px auto 0;
    }
  }
}

html {
  font-size: 100%;
}

body {
  font-family: $fonts;
  @include font-size(16);
  color: $color-txt;
  letter-spacing: .05em;
  line-height: 1.6;
}

hr,
.#{$component-prefix}hr {
  height: 0;
  border: 0;
  border-top: 1px solid $color-border;
  margin: 80px 0 40px;
  box-sizing: content-box;
  overflow: visible;
  @media (--small-screen) {
    margin: 40px 24px;
  }
}

* + hr,
* + .#{$component-prefix}hr {
  margin-top: 80px;
  @media (--small-screen) {
    margin-top: 40px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  & + p {
    margin: 16px 0 0;
  }
}

p {
  color: $color-txt;
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin: 56px 0 0;
    @media (--small-screen) {
      margin: 32px 0 0;
    }
  }
}

a {
  color: $color-txt;
  .#{$modifier-prefix}dark &,
  .#{$modifier-prefix}black & {
    color: white;
  }
  &:hover {
    text-decoration: none;
  }
}

pre {
  margin: 0;
  height: 100%;
  white-space: pre-wrap;
}

code {
  padding: 0 8px;
  color: #d81b60;
}

button {
  padding: 0;
}
