$u-color-primary: #546e7a;
$u-color-secondary: #333;
$u-color-success: #7cb342;
$u-color-danger: #f4511e;
$u-color-warning: #fdd835;
$u-color-dark: #37474f;
$u-color-bg: #f2f2f2;
$u-color-txt: #333;
$u-color-border: #eee;
$u-border-radius: 5px;
$u-box-shadow: 0 0 1px rgba(0,0,0,.26);
$u-box-shadow-hover: 0 7px 12px rgba(0,0,0,0.16);
$u-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$u-font-size: 1rem;

@mixin u-z-index($lv) {
  @if $lv == 1 {
    z-index: 5999;
  } @else if $lv == 2 {
    z-index: 9999;
  } @else if $lv == 3 {
    z-index: 15999;
  } @else if $lv == 4 {
    z-index: 19999;
  } @else if $lv == 5 {
    z-index: 25999;
  } @else {
    z-index: 5999;
  }
}

html {
  font-size: 100%;
}

body {
  font-family: $u-fonts;
  font-size: $u-font-size;
  letter-spacing: .05em;
}

.u-container {
  padding: 40px;
}
