@mixin btn-unit() {
  margin: 56px 0 0;
}

@mixin btn() {
  display: inline-block;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: white;
  border: 2px solid white;
  & + .#{$component-prefix}btn {
    margin-left: 16px;
  }
  > span,
  > a {
    display: block;
    padding: 14px 48px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }

  &.#{$modifier-prefix}ghost > a,
  &.#{$modifier-prefix}ghost > span,
  &.#{$modifier-prefix}primary > a,
  &.#{$modifier-prefix}primary > span {
    color: white;
  }

  &.#{$modifier-prefix}ghost {
    background-color: transparent;
  }

  &.#{$modifier-prefix}primary {
    background-color: $color-primary;
    border: 2px solid $color-primary;
  }

  &.#{$modifier-prefix}icon {}
}
