@mixin btn-unit() {
  @include unit-margin();
}

@mixin btn() {
  display: inline-block;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: white;
  border: 2px solid white;
  & + .#{$component-prefix}btn {
    margin: 0 0 0 16px;
    @media (--small-screen) {
      margin: 16px 0 0;
    }
  }
  > span,
  > a {
    display: block;
    padding: 14px 48px;
    text-decoration: none;
    text-transform: uppercase;
    @include font-size(16);
    font-weight: bold;
    @media (--small-screen) {
      min-width: 240px;
      padding: 12px 24px;
      text-align: center;
      @include font-size(14);
    }
  }

  &.#{$modifier-prefix}ghost > a,
  &.#{$modifier-prefix}ghost > span,
  &.#{$modifier-prefix}primary > a,
  &.#{$modifier-prefix}primary > span {
    color: white;
  }

  &.#{$modifier-prefix}ghost {
    background-color: transparent;
  }

  &.#{$modifier-prefix}primary {
    background-color: $color-primary;
    border: 2px solid $color-primary;
  }

  &.#{$modifier-prefix}icon {}
}
