@mixin card-unit() {
  @include unit-margin();
}

@mixin card() {
  max-width: 560px;
  height: 100%;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  padding: 32px 24px;
  background-color: white;
  text-align: left;
  @media (--small-screen) {
    padding: 24px;
  }
  > a p,
  p {
    margin: 12px 0 0;
    text-align: left;
  }
  > a .#{$prefix}btn,
  .#{$prefix}btn {
    margin: 24px 0 0;
    > span,
    > a {
      padding: 8px 32px;
      @include font-size(14);
      @media (--small-screen) {
        min-width: initial;
      }
    }
  }

  &._col-full,
  .#{$prefix}grid-cell > & {
    max-width: 100%;
  }

  &._banner {
    padding: 0;
    transition: $box-shadow-transition;
    &:hover {
      box-shadow: $box-shadow-hover;
    }
    > a {
      display: block;
      height: 100%;
      padding: 32px 24px;
      text-decoration: none;
      @media (--small-screen) {
        padding: 24px;
      }
    }
  }

  &._hover {
    transition: $box-shadow-transition;
    &:hover {
      box-shadow: $box-shadow-hover;
    }
  }

  &._float {
    box-shadow: $box-shadow-hover;
  }

  &._thumb {
    display: flex;
    .#{$prefix}card-image {
      display: flex;
      margin: -32px 24px -32px -24px;
      width: 160px;
      height: auto;
      border-radius: $border-radius 0 0 $border-radius;
      @media (--small-screen) {
        margin: -24px 24px -24px -24px;
      }
    }
    .#{$prefix}card-wrap {
      flex: 1;
    }
  }
}

@mixin card-title() {
  margin: 0;
  @include font-size(20);
  font-weight: bold;
  color: $color-dark;
  @media (--small-screen) {
    [lang~=ja] & {
      @include font-size(16);
    }
  }
}

@mixin card-image() {
  margin: -32px -24px 32px;
  height: 180px;
  background-position: 50%;
  background-size: cover;
  background-color: $color-bg;
  border-radius: $border-radius $border-radius 0 0;
  @media (--small-screen) {
    margin: -24px -24px 24px;
  }
}

@mixin card-icon() {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
  background-color: $color-bg;
  margin-right: 16px;
}

@mixin card-header() {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: -32px -24px 24px;
  padding: 16px 24px;
  border-bottom: 1px solid $color-border;
  @media (--small-screen) {
    margin: -24px -24px 24px;
  }

  .#{$prefix}card-icon { @include card-icon(); }

  .#{$prefix}card-title {
    flex: 1;
  }
}
