.uc-card-unit {
  margin: 56px 0 0;
}

.uc-card {
  max-width: 560px;
  height: 100%;
  box-shadow: $uc-box-shadow;
  border-radius: $uc-border-radius;
  padding: 32px 24px;
  background-color: white;
  text-align: left;
  > a p,
  p {
    margin: 12px 0 0;
    text-align: left;
  }
  > a .uc-btn,
  .uc-btn {
    margin: 24px 0 0;
    > span,
    > a {
      padding: 8px 32px;
      @include uc-font-size(14);
    }
  }

  &._of-col-full,
  .uc-grid-cell > & {
    max-width: 100%;
  }

  &._of-banner {
    padding: 0;
    transition: $uc-box-shadow-transition;
    &:hover {
      box-shadow: $uc-box-shadow-hover;
    }
    > a {
      display: block;
      height: 100%;
      padding: 32px 24px;
      text-decoration: none;
    }
  }

  &._of-hover {
    transition: $uc-box-shadow-transition;
    &:hover {
      box-shadow: $uc-box-shadow-hover;
    }
  }

  &._of-float {
    box-shadow: $uc-box-shadow-hover;
  }

  &._of-thumb {
    display: flex;
    .uc-card-image {
      display: flex;
      margin: -32px 24px -32px -24px;
      width: 160px;
      height: auto;
      border-radius: $uc-border-radius 0 0 $uc-border-radius;
    }
    .uc-card-wrap {
      flex: 1;
    }
  }
}

.uc-card-title {
  margin: 0;
  @include uc-font-size(20);
  font-weight: bold;
  color: $uc-color-dark;
}

.uc-card-image {
  margin: -32px -24px 24px;
  height: 180px;
  background-position: 50%;
  background-size: cover;
  background-color: $uc-color-bg;
  border-radius: $uc-border-radius $uc-border-radius 0 0;
}

.uc-card-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: -24px -24px 24px;
  padding: 16px 24px;
  border-bottom: 1px solid $uc-color-border;

  .uc-card-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    background-position: 50%;
    background-size: cover;
    background-color: $uc-color-bg;
    margin-right: 16px;
  }

  .uc-card-title {
    flex: 1;
  }
}
