.uc-code-unit {
  height: 100%;
  margin: 56px 0 0;
  text-align: left;
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    & + * {
      margin: 16px 0 0;
    }
    & + p {
      margin: 8px 0 0;
    }
  }
  > p {
    margin: 0;
    color: $uc-color-txt;
    & + * {
      margin: 24px 0 0;
    }
    ._of-dark & {
      color: color(white a(.7));
    }
  }
  > pre,
  > .uc-code {
    background-color: color(black a(.92));
    border-radius: $uc-border-radius;
    padding: 16px 24px;
    & + pre,
    & + .uc-code {
      margin-top: 16px;
    }
    & + p {
      margin: 24px 0 0;
    }
    > code {
      margin: 0;
      padding: 0;
      color: white;
      @include uc-font-size(14);
    }
  }
}


.uc-video-unit {}


.uc-photo-unit {}


.uc-slider-unit {}
