@mixin code-unit() {
  height: 100%;
  margin: 56px 0 0;
  text-align: left;
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    & + * {
      margin: 16px 0 0;
    }
    & + p {
      margin: 8px 0 0;
    }
  }
  > p {
    margin: 0;
    color: $color-txt;
    & + * {
      margin: 24px 0 0;
    }
    .#{$modifier-prefix}dark & {
      color: color(white a(.7));
    }
  }
  > pre,
  > .#{$component-prefix}code {
    background-color: $color-code-bg;
    border-radius: $border-radius;
    padding: 16px 24px;
    & + pre,
    & + .#{$component-prefix}code {
      margin-top: 16px;
    }
    & + p {
      margin: 24px 0 0;
    }
    > code {
      margin: 0;
      padding: 0;
      color: white;
      @include font-size(14);
    }
  }
}
