@mixin footer() {
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  @media (--small-screen) {
    padding: 56px 16px;
  }
  > p {
    margin: 24px 0 0;
    @include font-size(14);
    @media (--small-screen) {
      margin: 16px 0 0;
      @include font-size(12);
    }
    & + p {
      margin: 16px 0 0;
    }
  }
  > small {
    display: block;
    @include font-size(12);
    margin: 32px 0 0;
    @media (--small-screen) {
      margin: 16px 0 0;
      @include font-size(10);
    }
  }

  &._dark,
  &._black {
    background-color: color(black a(.92));
    > p, > small, a {
      color: color(white a(.8));
    }
  }
}

@mixin footer-logo() {
  @include font-size(32);
  line-height: 1;
  font-weight: bold;
  margin: 56px 0 0;
  > cite {
    font-style: normal;
  }

  ._dark &,
  ._black & {
    color: white;
  }
}

@mixin footer-menu() {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  @media (--small-screen) {
    width: 100%;
    margin: -16px 0 0;
  }
  > a {
    display: block;
    margin: 0 16px;
    position: relative;
    color: $color-txt;
    text-decoration: none;
    font-weight: bold;
    @media (--small-screen) {
      width: 100%;
      margin: 0;
      padding: 16px 24px;
      border-bottom: 1px solid color(white a(.08));
    }
    &:after {
      content: " ";
      display: inline-block;
      width: 1px;
      height: 16px;
      background-color: color(black a(.3));
      position: absolute;
      top: 50%;
      right: -16px;
      margin-top: -8px;
      @media (--small-screen) {
        display: none;
      }

      ._dark &,
      ._black & {
        background-color: color(white a(.3));
      }
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:last-child:after {
      display: none;
    }
  }
}

