@mixin form() {
  border-radius: border-radius;
  box-shadow: box-shadow;
  background-color: #fff;
  padding: 32px 24px;
}

@mixin form-parts-unit() {
  & + .#{$component-prefix}form-parts-unit {
    margin-top: 24px;
  }
  label {
    display: block;
    color: color(black a(.7));
    font-weight: bold;
    @include font-size(14);
    margin-bottom: 8px;
  }
  .#{$component-prefix}btn {
    margin: 0;
  }
}

@mixin form-parts() {
  width: 100%;
  padding: 16px;
  border: 1px solid color-border;
  border-radius: border-radius;

  &.#{$modifier-prefix}text {
    line-height: 1;
  }

  &.#{$modifier-prefix}textarea {
    height: 10em;
  }
}
