@mixin grid-unit() {
  @include unit-margin();
}

@mixin grid() {
  display: flex;
  flex-wrap: wrap;

  &._gutter {
    margin: -#{$grid-gutter} 0 0 -#{$grid-gutter};
    @media (--small-screen) {
      margin: -#{calc(#{$grid-gutter} / 2)} 0 0 -#{calc(#{$grid-gutter} / 2)};
    }
    .#{$prefix}grid-cell {
      padding: #{$grid-gutter} 0 0 #{$grid-gutter};
      @media (--small-screen) {
        padding: #{calc(#{$grid-gutter} / 2)} 0 0 #{calc(#{$grid-gutter} / 2)};
      }
    }
  }

  &._nowrap {
    flex-wrap: nowrap;
  }

  &._top {
    align-items: flex-start;
  }

  &._center {
    align-items: center;
  }

  &._bottom {
    align-items: flex-end;
  }
}

@mixin grid-cell() {
  @for $i from 2 through 12 {
    ._col-#{$i} > &,
    &._col-#{$i} {
      width: calc(100%/#{$i});
    }
    @media (--small-screen) {
      ._small-col-#{$i} > &,
      &._small-col-#{$i} {
        width: calc(100%/#{$i});
      }
    }
  }

  ._col-fit > &,
  &._col-fit {
    flex: 1;
  }
  @media (--small-screen) {
    ._small-col-fit > &,
    &._small-col-fit {
      flex: 1;
    }
  }

  ._col-full > &,
  &._col-full {
    flex: 0 0 100%;
  }
  @media (--small-screen) {
    ._small-col-full > &,
    &._small-col-full {
      width: 100%;
      flex: 0 0 100%;
    }
  }

  &._top {
    align-self: flex-start;
  }

  &._center {
    align-self: center;
  }

  &._bottom {
    align-self: flex-end;
  }
}
