@mixin header() {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  padding: 0 80px;
  background-color: white;
  @media (--small-screen) {
    padding: 0 24px;
  }
  > p {
    margin-right: auto;
    color: color(black a(.7));
  }
  &.#{$modifier-prefix}fixed,
  &.#{$modifier-prefix}ghost {
    top: 0;
    left: 0;
    width: 100%;
    @include z-index(4);
    & + * {
      margin-top: $header-height;
    }
  }
  &.#{$modifier-prefix}center {
    justify-content: center;
  }
  &.#{$modifier-prefix}fixed {
    position: fixed;
    box-shadow: $box-shadow-hover;
  }
  &.#{$modifier-prefix}ghost {
    position: absolute;
    background-color: transparent;
    & > p {
      color: color(white a(.7));
    }
  }
  &.#{$modifier-prefix}dark {
    background-color: $color-dark;
    & > p {
      color: color(white a(.7));
    }
  }
  &.#{$modifier-prefix}black {
    background-color: black;
    & > p {
      color: color(white a(.7));
    }
  }
}

@mixin header-logo() {
  margin: 0 20px 0 0;
  color: black;
  a {
    display: inline-block;
    text-decoration: none;
  }
  sup {
    vertical-align: top;
    display: inline-block;
    padding-top: 8px;
    @include font-size(12);
    font-weight: normal;
    margin-left: -4px;
  }
  .#{$modifier-prefix}ghost &,
  .#{$modifier-prefix}dark &,
  .#{$modifier-prefix}black & {
    color: white;
    a {
      color: white;
    }
  }
}

@mixin header-menu() {
  > a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    color: color(black a(.7));
    & + a {
      margin: 0 0 0 16px;
    }
    &._is-current {
      color: black;
    }

    .#{$modifier-prefix}dark &,
    .#{$modifier-prefix}black &,
    .#{$modifier-prefix}ghost & {
      color: color(white a(.7));
      &._is-current {
        color: white;
      }
    }
  }
}
