.uc-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $uc-header-height;
  padding: 0 80px;
  background-color: white;
  > p {
    margin-right: auto;
    color: color(black a(.7));
  }
  &._of-fixed,
  &._of-ghost {
    top: 0;
    left: 0;
    width: 100%;
    @include uc-z-index(4);
    & + * {
      margin-top: $uc-header-height;
    }
  }
  &._of-center {
    justify-content: center;
  }
  &._of-fixed {
    position: fixed;
    box-shadow: $uc-box-shadow-hover;
  }
  &._of-ghost {
    position: absolute;
    background-color: transparent;
    & > p {
      color: color(white a(.7));
    }
  }
  &._of-dark {
    background-color: $uc-color-dark;
    & > p {
      color: color(white a(.7));
    }
  }
  &._of-black {
    background-color: black;
    & > p {
      color: color(white a(.7));
    }
  }
}

.uc-header-logo {
  margin: 0 20px 0 0;
  color: black;
  a {
    display: inline-block;
    text-decoration: none;
  }
  sup {
    vertical-align: top;
    display: inline-block;
    padding-top: 8px;
    @include uc-font-size(12);
    font-weight: normal;
    margin-left: -4px;
  }
  ._of-ghost &,
  ._of-dark &,
  ._of-black & {
    color: white;
    a {
      color: white;
    }
  }
}
