i {
  font-style: normal;
  line-height: 1;
}

@mixin icon-menu-bar() {
  display: block;
  width: 24px;
  height: 2px;
  margin: 0 auto;
  background-color: black;
  position: relative;

  ._dark &,
  ._black &,
  ._ghost & {
    background-color: white;
  }
  &:before,
  &:after {
    content: " ";
    display: block;
    width: 24px;
    height: 2px;
    background-color: black;
    position: absolute;

    ._dark &,
    ._black &,
    ._ghost & {
      background-color: white;
    }
  }
  &:before {
    top: -6px;
  }
  &:after {
    bottom: -6px;
  }
}
