.uc-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $uc-header-height;
  padding: 0 80px;
  background-color: white;
  > p {
    color: color(black a(.7));
  }
  &._of-fixed,
  &._of-ghost {
    top: 0;
    left: 0;
    width: 100%;
    @include uc-z-index(4);
    & + * {
      margin-top: $uc-header-height;
    }
  }
  &._of-center {
    justify-content: center;
  }
  &._of-fixed {
    position: fixed;
    box-shadow: $uc-box-shadow-hover;
  }
  &._of-ghost {
    position: absolute;
    background-color: transparent;
    & > p {
      color: color(white a(.7));
    }
  }
  &._of-dark {
    background-color: $uc-color-dark;
    & > p {
      color: color(white a(.7));
    }
  }
  &._of-black {
    background-color: black;
    & > p {
      color: color(white a(.7));
    }
  }
}

.uc-header-logo {
  margin: 0 20px 0 0;
  color: black;
  a {
    display: inline-block;
    text-decoration: none;
  }
  sup {
    vertical-align: top;
    display: inline-block;
    padding-top: 8px;
    @include uc-font-size(12);
    font-weight: normal;
    margin-left: -4px;
  }
  ._of-ghost &,
  ._of-dark &,
  ._of-black & {
    color: white;
    a {
      color: white;
    }
  }
}


.uc-footer {
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  > p {
    margin: 24px 0 0;
    @include uc-font-size(14);
    & + p {
      margin: 16px 0 0;
    }
  }
  > small {
    display: block;
    @include uc-font-size(12);
    margin: 32px 0 0;
  }

  &._of-dark {
    background-color: color(black a(.92));
    > p, > small, a {
      color: color(white a(.8));
    }
  }
}

.uc-footer-logo {
  @include uc-font-size(32);
  ._of-dark & {
    color: white;
    font-weight: bold;
    margin: 56px 0 0;
    > cite {
      font-style: normal;
    }
  }
}

.uc-footer-link {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  > li {
    margin: 0 16px;
    position: relative;
    & + li:before {
      content: " ";
      display: inline-block;
      width: 1px;
      height: 16px;
      background-color: color(black a(.3));
      position: absolute;
      top: 50%;
      left: -16px;
      margin-top: -8px;

      ._of-dark & {
        background-color: color(white a(.3));
      }
    }
    a {
      color: $uc-color-txt;
      text-decoration: none;
      font-weight: bold;
    }
  }
}


.uc-content {
  position: relative;
}


.uc-section {
  position: relative;
  padding: 80px;

  & + .uc-section {
    border-top: 1px solid $uc-color-border;
  }

  &._of-center {
    text-align: center;
  }

  &._of-dark {
    background-color: $uc-color-dark;
    color: white;
  }
}

.uc-section-inner {
  max-width: $uc-max-screen-width;
  margin-left: auto;
  margin-right: auto;
}

.uc-section-title {
  color: black;
  ._of-dark & {
    color: white;
  }

  &:after {
    content: " ";
    display: block;
    width: 24px;
    height: 2px;
    background-color: color(black a(.3));
    margin: 16px 0 0;

    ._of-center & {
      margin: 16px auto 0;
    }

    ._of-dark & {
      background-color: color(white a(.3));
    }
  }
  & + p {
    margin: 32px 0 0;

    ._of-dark & {
      color: white;
    }
  }
}


.uc-sidebar {
  width: $uc-sidebar-width;
  height: 100%;
  box-shadow: $uc-box-shadow-hover;
  background-color: white;
  position: relative;
  @include uc-z-index(1);

  &._of-dark {
    background-color: $uc-color-dark;
  }

  &._of-black {
    background-color: color(black a(.92));
  }

  &._of-dark,
  &._of-black {
    color: white;
  }
}
