@mixin list-dot() {
  content: " ";
  display: inline-block;
  vertical-align: top;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 16px;
  margin-top: 8px;
  @media (--small-screen) {
    width: 6px;
    height: 6px;
    margin-right: 8px;
    [lang~=ja] & {
      margin-top: 6px;
    }
  }
}

@mixin list-unit() {
  @include unit-margin();
  padding: 0 24px;
  text-align: left;
  @media (--small-screen) {
    padding: 0 8px;
  }
  &._border {
    padding: 40px 24px;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    @media (--small-screen) {
      padding: 32px 8px;
    }
  }
}

@mixin list() {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 1em;
  text-indent: -1em;
  > li {
    color: $color-txt;
    @media (--small-screen) {
      [lang~=ja] & {
        @include font-size(14);
      }
    }
    & + li {
      margin: 16px 0 0;
    }
    &:before {
      @include list-dot();
      background-color: $color-primary;
    }
    > ul,
    > ol {
      margin: 8px 0 0;
      list-style-type: none;
      > li {
        & + li {
          margin: 16px 0 0;
        }
        &:before {
          @include list-dot();
          background-color: transparent;
          border: 2px solid $color-primary;
        }
      }
    }
  }
}
