@mixin uc-list-dot() {
  content: " ";
  display: inline-block;
  vertical-align: top;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 16px;
  margin-top: 8px;
}

.uc-list-unit {
  margin: 56px auto 0;
  text-align: left;
  border-top: 1px solid $uc-color-border;
  border-bottom: 1px solid $uc-color-border;
  padding: 40px 24px;
  & + p {
    margin-top: 56px;
  }
}

.uc-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  > li {
    color: $uc-color-txt;
    & + li {
      margin: 24px 0 0;
    }
    &:before {
      @include uc-list-dot();
      background-color: $uc-color-primary;
    }
    > ul,
    > ol {
      list-style-type: none;
      margin: 16px 0 0;
      > li {
        & + li {
          margin: 16px 0 0;
        }
        &:before {
          @include uc-list-dot();
          background-color: transparent;
          border: 2px solid $uc-color-primary;
        }
      }
    }
  }
}
