@mixin menu-unit() {
  margin: 0;
  padding: 0;
}

@mixin menu() {}

@mixin menu-btn() {
  > button {
    display: block;
    border: none;
    width: 48px;
    height: 48px;
    margin: 0 -12px;
    > .#{$component-prefix}menu-btn-icon {
      @include icon-menu-bar();
    }
  }
  &.#{$modifier-prefix}text {
    margin: 0 -12px;
    > button {
      width: 100%;
      margin: 0;
      padding: 0 12px;

      .#{$modifier-prefix}black &,
      .#{$modifier-prefix}dark &,
      .#{$modifier-prefix}ghost & {
        color: white;
        @include font-size(14);
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
