@mixin pager-unit() {
  margin: 0;
  padding: 80px;
  background-color: $color-bg;
  @media (--small-screen) {
    padding: 48px 24px;
  }
  > * {
    margin: 0;
  }
  &._center {
    text-align: center;
  }
}

@mixin pager() {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  li {
    padding: 8px;
    background-color: white;
    &._current {
      background-color: $color-primary;
    }
  }
}
