@mixin content() {
  position: relative;
}


@mixin section() {
  position: relative;
  padding: 80px;
  @media (--small-screen) {
    padding: 40px 24px;
  }

  & + .#{$component-prefix}section {
    border-top: 1px solid $color-border;
  }

  &.#{$modifier-prefix}center {
    text-align: center;
  }

  &.#{$modifier-prefix}dark {
    background-color: $color-dark;
    color: white;
  }
}

@mixin section-inner() {
  max-width: $max-screen-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin section-title() {
  color: black;
  @include font-size(40);
  .#{$modifier-prefix}dark & {
    color: white;
  }

  &:after {
    content: " ";
    display: block;
    width: 24px;
    height: 2px;
    background-color: color(black a(.3));
    margin: 16px 0 0;

    .#{$modifier-prefix}center & {
      margin: 16px auto 0;
    }

    .#{$modifier-prefix}dark & {
      background-color: color(white a(.3));
    }
  }
  & + p {
    margin: 32px 0 0;

    .#{$modifier-prefix}dark & {
      color: white;
    }
  }
}
