@mixin content() {
  position: relative;
}


@mixin section() {
  position: relative;
  padding: 80px;
  @media (--medium-screen) {
    padding: 80px 40px;
  }
  @media (--small-screen) {
    padding: 40px 20px 56px;
  }

  & + .#{$prefix}section {
    border-top: 1px solid $color-border;
  }

  &._center {
    text-align: center;
  }

  &._dark {
    background-color: $color-dark;
    color: white;
  }
}

@mixin section-inner() {
  max-width: $max-screen-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin section-title() {
  color: black;
  @include font-size(40);
  font-weight: bold;
  @media (--small-screen) {
    @include font-size(32);
    [lang~=ja] & {
      @include font-size(28);
    }
  }
  ._dark & {
    color: white;
  }

  &:after {
    content: " ";
    display: block;
    width: 24px;
    height: 2px;
    background-color: color(black a(.3));
    margin: 16px 0 0;
    @media (--small-screen) {
      margin: 8px 0 0;
    }

    ._center & {
      margin-left: auto;
      margin-right: auto;
    }

    ._dark & {
      background-color: color(white a(.3));
    }
  }
  & + p {
    margin: 32px 0 0;
    @include font-size(16);
    @media (--small-screen) {
      margin: 24px 0 0;
      [lang~=ja] & {
        @include font-size(14);
      }
    }

    ._dark & {
      color: white;
    }
  }
}
