@mixin sidebar() {
  width: $sidebar-width;
  height: 100%;
  box-shadow: $box-shadow-hover;
  background-color: white;
  position: relative;
  @include z-index(1);

  &.#{$modifier-prefix}dark {
    background-color: $color-dark;
  }

  &.#{$modifier-prefix}black {
    background-color: color(black a(.92));
  }

  &.#{$modifier-prefix}dark,
  &.#{$modifier-prefix}black {
    color: white;
  }
}
