@mixin table-unit() {
  @include unit-margin();
  overflow-x: scroll;
}

@mixin table() {
  thead {
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
  }
  tbody {
    > tr {
      &:nth-child(even) {
        background-color: $color-bg;
      }
    }
  }
  th {
    padding: 16px 24px;
    text-align: left;
  }
  td {
    padding: 16px 24px;
  }

  &._col-full {
    width: 100%;
  }
}
