p,
.#{$component-prefix}txt {
  line-height: 1.8;
}

h1,
.#{$component-prefix}header-logo {
  @include font-size(32);
  font-weight: bold;
  line-height: 1;
}

h2 {
  @include font-size(24);
}

h3 {
  @include font-size(20);
}

h4,
h5,
h6 {
  @include font-size(18);
}
