@mixin centering() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin orig-width() {
  width: auto !important;
}

@mixin orig-height() {
  height: auto !important;
}

@mixin no-margin() {
  margin: 0 !important;
}

@mixin no-padding() {
  padding: 0 !important;
}

@mixin no-line-height() {
  line-height: 1 !important;
}

@mixin no-shadow() {
  box-shadow: none !important;
}

@mixin txt-bold() {
  font-weight: bold !important;
}

@mixin txt-left() {
  text-align: left !important;
}

@mixin txt-center() {
  text-align: center !important;
}

@mixin txt-right() {
  text-align: right !important;
}

@mixin content-hidden() {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 100px;
  white-space: nowrap;
}

@mixin switch-hidden($size) {
  @if $size == 'small' {
    @media(--small-screen) {
      display: none !important;
    }
  } @else if $size == 'medium' {
    @media(--medium-screen) {
      display: none !important;
    }
  } @else {
    @media(--large-screen) {
      display: none !important;
    }
  }
}
