$uc-max-screen-width: 1000px;
$uc-color-primary: #546e7a;
$uc-color-secondary: #333;
$uc-color-success: #7cb342;
$uc-color-danger: #f4511e;
$uc-color-warning: #fdd835;
$uc-color-dark: #37474f;
$uc-color-bg: #f2f2f2;
$uc-color-txt: #333;
$uc-color-border: rgba(0,0,0,.08);
$uc-border-radius: 6px;
$uc-box-shadow: 0 0 1px rgba(0,0,0,.26);
$uc-box-shadow-hover: 0 7px 12px rgba(0,0,0,0.16);
$uc-box-shadow-transition: box-shadow .3s cubic-bezier(.25,.8,.25,1);
$uc-fonts: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$uc-header-height: 80px;
$uc-sidebar-width: 240px;

@mixin uc-font-size($px, $context: 16) {
  font-size: ($px / $context) * 1rem;
}

@custom-media --small-screen (width <= 768px);
@custom-media --medium-screen (width > 768px) and (width < 1200px);
@custom-media --large-screen (width >= 1200px);

@mixin uc-z-index($lv: 1) {
  @if $lv == 1 {
    z-index: 5999;
  } @else if $lv == 2 {
    z-index: 9999;
  } @else if $lv == 3 {
    z-index: 15999;
  } @else if $lv == 4 {
    z-index: 19999;
  } @else if $lv == 5 {
    z-index: 25999;
  } @else {
    z-index: 5999;
  }
}

@mixin uc-unit-margin() {
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6,
  & + p {
    margin: 56px 0 0;
  }
}
