<footer class="uc-footer _dark">
  <div class="uc-footer-menu">
    <!--<a href="#" class="_is-current">Document</a>-->
    <a href="/themes/">Themes</a>
    <a href="https://github.com/kokushin/unitscss" target="_blank">GitHub</a>
    <a href="https://twitter.com/kokushing" target="_blank">Twitter</a>
  </div>
  <div class="uc-footer-logo"><cite>UNITS</cite></div>
  <p>Made by <a href="https://twitter.com/kokushing" target="_blank">@kokushing</a>,
  Licensed under MIT license.<br>
  Inspired by <a href="https://material.io/guidelines/" target="_blank">Google Material Design.</a><br>
  Photo by <a href="https://unsplash.com/" target="_blank">unsplash.com.</a></p>
  <small>&copy; <%= new Date().getFullYear() %> UNITS v<%= pkg.version %></small>
</footer>
