<nav class="uc-menu _slide _black" id="menu">
  <div class="uc-menu-wrap">
    <div class="uc-menu-list">
      <a href="/docs/" class="_is-current">Document</a>
      <a href="https://codepen.io/search/pens/?q=units&limit=kokushin" target="_blank">Snippets</a>
      <a href="/themes/">Themes</a>
      <a href="https://github.com/kokushin/unitscss" target="_blank">GitHub</a>
      <a href="https://twitter.com/kokushing" target="_blank">Twitter</a>
    </div>
  </div>
</nav>
