
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Portfolio | Themes | UNITS</title>
  <meta name="description" content="UNITS is a simple and beautiful CSS component set.">
  <meta name="author" content="kokushin">

  <meta property="og:site_name" content="UNITS">
  <meta property="og:title" content="UNITS - Simple and beautiful CSS component set.">
  <meta property="og:description" content="UNITS is a simple and beautiful CSS component set.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://kokushin.github.io/units/">
  <meta property="og:image" content="https://kokushin.github.io/units/img/share.png">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@kokushing">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/css/units.css">
  <style>
    .content {
      padding-bottom: 20px;
    }
    .works-dev-lang {
      opacity: .7;
      font-size: 14px;
    }
  </style>
</head>
<body>

  <header class="uc-header">
    <h1 class="uc-header-logo"><a href="/">YI</a></h1>
    <div class="uc-header-menu" role="navigation">
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
  </header>

  <main class="uc-content content">

    <section class="uc-section _center">
      <h2 class="uc-section-title">Portfolio</h2>
      <P>since 2014</P>

      <div class="uc-card-unit">
        <div class="uc-grid _col-3 _small-col-full _gutter">

          <div class="uc-grid-cell">
            <article class="uc-card _banner">
              <a href="https://unitscss.com" target="_blank">
                <div class="uc-card-image" style="background-image:url(https://source.unsplash.com/random)"></div>
                <h3 class="uc-card-title">UNITS</h3>
                <p>UNITS is a simple and beautiful component set. All you have to do is just load css files, copy and paste snippets, so easy that anyone can use.</p>
                <p class="works-dev-lang">CSS</p>
              </a>
            </article>
          </div>

          <div class="uc-grid-cell">
            <article class="uc-card _banner">
              <a href="https://unitscss.com" target="_blank">
                <div class="uc-card-image" style="background-image:url(https://source.unsplash.com/random)"></div>
                <h3 class="uc-card-title">UNITS</h3>
                <p>UNITS is a simple and beautiful component set. All you have to do is just load css files, copy and paste snippets, so easy that anyone can use.</p>
                <p class="works-dev-lang">CSS</p>
              </a>
            </article>
          </div>

          <div class="uc-grid-cell">
            <article class="uc-card _banner">
              <a href="https://unitscss.com" target="_blank">
                <div class="uc-card-image" style="background-image:url(https://source.unsplash.com/random)"></div>
                <h3 class="uc-card-title">UNITS</h3>
                <p>UNITS is a simple and beautiful component set. All you have to do is just load css files, copy and paste snippets, so easy that anyone can use.</p>
                <p class="works-dev-lang">CSS</p>
              </a>
            </article>
          </div>

          <div class="uc-grid-cell">
            <article class="uc-card _banner">
              <a href="https://unitscss.com" target="_blank">
                <div class="uc-card-image" style="background-image:url(https://source.unsplash.com/random)"></div>
                <h3 class="uc-card-title">UNITS</h3>
                <p>UNITS is a simple and beautiful component set. All you have to do is just load css files, copy and paste snippets, so easy that anyone can use.</p>
                <p class="works-dev-lang">CSS</p>
              </a>
            </article>
          </div>

          <div class="uc-grid-cell">
            <article class="uc-card _banner">
              <a href="https://unitscss.com" target="_blank">
                <div class="uc-card-image" style="background-image:url(https://source.unsplash.com/random)"></div>
                <h3 class="uc-card-title">UNITS</h3>
                <p>UNITS is a simple and beautiful component set. All you have to do is just load css files, copy and paste snippets, so easy that anyone can use.</p>
                <p class="works-dev-lang">CSS</p>
              </a>
            </article>
          </div>

          <div class="uc-grid-cell">
            <article class="uc-card _banner">
              <a href="https://unitscss.com" target="_blank">
                <div class="uc-card-image" style="background-image:url(https://source.unsplash.com/random)"></div>
                <h3 class="uc-card-title">UNITS</h3>
                <p>UNITS is a simple and beautiful component set. All you have to do is just load css files, copy and paste snippets, so easy that anyone can use.</p>
                <p class="works-dev-lang">CSS</p>
              </a>
            </article>
          </div>

          <div class="uc-grid-cell">
            <article class="uc-card _banner">
              <a href="https://unitscss.com" target="_blank">
                <div class="uc-card-image" style="background-image:url(https://source.unsplash.com/random)"></div>
                <h3 class="uc-card-title">UNITS</h3>
                <p>UNITS is a simple and beautiful component set. All you have to do is just load css files, copy and paste snippets, so easy that anyone can use.</p>
                <p class="works-dev-lang">CSS</p>
              </a>
            </article>
          </div>

          <div class="uc-grid-cell">
            <article class="uc-card _banner">
              <a href="https://unitscss.com" target="_blank">
                <div class="uc-card-image" style="background-image:url(https://source.unsplash.com/random)"></div>
                <h3 class="uc-card-title">UNITS</h3>
                <p>UNITS is a simple and beautiful component set. All you have to do is just load css files, copy and paste snippets, so easy that anyone can use.</p>
                <p class="works-dev-lang">CSS</p>
              </a>
            </article>
          </div>

        </div>
      </div>

      <div class="uc-btn-unit">
        <div class="uc-btn"><a href="https://github.com/kokushin?tab=repositories" target="_blank">More works</a></div>
      </div>
    </section>

  </main>

  <footer class="uc-footer _dark">
    <div class="uc-footer-menu">
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
    <div class="uc-footer-logo"><cite>YI</cite></div>
    <p>This page was made using <a href="https://unitscss.com" target="_blank">UNITS</a>.</p>
    <small>&copy; 2017 Yusuke Ishiguro</small>
  </footer>

</body>
</html>
