<%- include('_common/_head', {
  key: 'index',
}) %>

<%- include('_component/_header') %>

<main class="content">
  <p>Velit non dolor cillum quis ea mollit ipsum est proident est sint ad. Proident nostrud cupidatat pariatur mollit do excepteur incididunt ad eu Lorem eu. Do magna ut sint dolore consequat consectetur sunt. Voluptate officia sunt excepteur magna. Esse ad est sint minim eu veniam aliquip proident. Do ut enim commodo sit consequat cillum mollit. Irure ea fugiat adipisicing dolore cillum pariatur sit pariatur ea.</p>
  <p><a href="#">link</a></p>
</main>

<%- include('_component/_footer') %>

<%- include('_common/_foot') %>
