<div class="uc-sidebar _slide uc-grid-cell" id="sidebar">
  <div class="uc-sidebar-wrap">
    <div class="uc-sidebar-list">
      <a href="/docs/" class="_is-current">Introduction</a>
      <a href="/docs/">Install</a>
      <a href="/docs/">Coding guide</a>
    </div>
    <div class="uc-sidebar-list">
      <p><strong>Components</strong></p>
      <a href="/docs/">Layout</a>
      <a href="/docs/">Grid</a>
      <a href="/docs/">Hero</a>
      <a href="/docs/">Card</a>
      <a href="/docs/">Button</a>
      <a href="/docs/">Form</a>
      <a href="/docs/">List</a>
      <a href="/docs/">Table</a>
      <a href="/docs/">Menu</a>
      <a href="/docs/">Embed</a>
      <a href="/docs/">Pager</a>
      <a href="/docs/">Typography</a>
      <a href="/docs/">Loading</a>
    </div>
    <div class="uc-sidebar-list">
      <p><strong>Links</strong></p>
      <a href="/docs/">Home</a>
      <a href="/docs/">GitHub</a>
      <a href="/docs/">Twitter</a>
    </div>
  </div>
</div>
