@import "./variables.css";

/**
 * UNITS loading components
 *
 * ==================================
 * @base:   [.uc-loading]
 * ==================================
 * @parts:  [.uc-***]
 *          [.uc-***]
 * ==================================
 * @option: [._***]
 *          [._***]
 * ==================================
 */

:root {
  --spinner-size: 56px;
  --spinner-line-size: 2px;
  --spinner-line-color-bg: color(black a(.08));
  --spinner-line-color-before: var(--color-primary);
  --spinner-line-color-after: color(var(--color-primary) a(.5));
}

.uc-loading {
  display: none;

  &._is-active {
    display: inline-block;
  }
}

.uc-loading-icon {
  display: block;

  ._spinner & {
    width: var(--spinner-size);
    height: var(--spinner-size);
    background-color: transparent;
    border: var(--spinner-line-size) solid var(--spinner-line-color-bg);
    border-radius: 50%;
    position: relative;
    z-index: var(--z-index-lv1);
    animation: spinner linear 2s 0s infinite;

    &:before,
    &:after {
      content: " ";
      display: block;
      width: var(--spinner-size);
      height: var(--spinner-size);
      background-color: transparent;
      position: absolute;
      top: -var(--spinner-line-size);
      left: -var(--spinner-line-size);
      border-radius: 50%;
    }

    &:before {
      border-top: var(--spinner-line-size) solid var(--spinner-line-color-before);
      border-bottom: var(--spinner-line-size) solid transparent;
      border-left: var(--spinner-line-size) solid transparent;
      border-right: var(--spinner-line-size) solid transparent;
      animation: spinner var(--Power3_easeInOut) 1s .1s infinite;
    }

    &:after {
      border-top: var(--spinner-line-size) solid transparent;
      border-bottom: var(--spinner-line-size) solid transparent;
      border-left: var(--spinner-line-size) solid var(--spinner-line-color-after);
      border-right: var(--spinner-line-size) solid transparent;
      animation: spinner var(--Power3_easeInOut) 1s 0s infinite;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
