@import "./variables.css";

/**
 * UNITS menu components
 *
 * ==================================
 * @base:   [.uc-menu]
 * ==================================
 * @parts:  [.uc-***]
 *          [.uc-***]
 * ==================================
 * @option: [._***]
 *          [._***]
 * ==================================
 */

.uc-menu-btn {

  > button {
    display: block;
    border: none;
    width: 48px;
    height: 48px;
    margin: 0 -12px;
  }

  &._text {
    margin: 0 -12px;

    > button {
      width: 100%;
      margin: 0;
      padding: 0 12px;

      ._black &,
      ._dark &,
      ._ghost & {
        color: white;
        font-size: .875rem;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

.uc-menu-btn-icon {
  display: block;
  width: 24px;
  height: 2px;
  margin: 0 auto;
  background-color: black;
  position: relative;

  ._dark &,
  ._black &,
  ._ghost & {
    background-color: white;
  }

  &:before,
  &:after {
    content: " ";
    display: block;
    width: 24px;
    height: 2px;
    background-color: black;
    position: absolute;

    ._dark &,
    ._black &,
    ._ghost & {
      background-color: white;
    }
  }

  &:before {
    top: -6px;
  }

  &:after {
    bottom: -6px;
  }
}
