@import "./variables.css";

/**
 * UNITS menu components
 *
 * ==================================
 * @base:   [.uc-menu]
 * ==================================
 * @parts:  [.uc-***]
 *          [.uc-***]
 * ==================================
 * @option: [._***]
 *          [._***]
 * ==================================
 */

.uc-menu {
  background-color: white;
  box-shadow: var(--box-shadow-hover);
  position: relative;
  z-index: var(--z-index-lv3);

  @media (--small-screen) {
    position: fixed;
    top: 0;
    right: 0;
    width: var(--menu-small-width);
    height: 100%;
    padding: calc(var(--header-height) - 16px) 0 0;
    /* sidebar-unit transform animation */
    transition: all .35s var(--Power3_easeInOut);
    transform: translate3d(calc(var(--menu-small-width) + 16px), 0, 0);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &._left {
      left: 0;
      right: auto;
      transform: translate3d(calc(-var(--menu-small-width) - 16px), 0, 0);
    }

    &._right {
      left: auto;
      right: 0;
      transform: translate3d(calc(var(--menu-small-width) + 16px), 0, 0);
    }

    &._is-active {
      transform: translate3d(0, 0, 0);
    }
  }

  &._dark {
    background-color: var(--color-dark);
  }

  &._black {
    background-color: #141414;
  }

  &._dark,
  &._black {
    color: white;
  }
}

.uc-menu-wrap {
  padding: 32px 0;
}

.uc-menu-list {
  @media (--small-screen) {
    text-align: center;

    a {
      display: block;
      padding: 20px 32px;
      text-decoration: none;

      &._is-current {
        font-weight: bold;
        background-color: var(--color-bg);

        ._black &,
        ._dark & {
          background-color: color(white a(.08));
        }
      }
    }
  }
}

.uc-menu-btn {
  position: relative;
  z-index: var(--z-index-lv3);

  > button {
    display: block;
    border: none;
    width: 48px;
    height: 48px;
    margin: 0 -12px;
  }

  &._text {
    margin: 0 -12px;

    > button {
      width: 100%;
      margin: 0;
      padding: 0 12px;

      ._black &,
      ._dark &,
      ._ghost & {
        color: white;
        font-size: .875rem;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

.uc-menu-btn-icon {
  display: block;
  width: 24px;
  height: 2px;
  margin: 0 auto;
  background-color: black;
  position: relative;
  /* menu-btn-icon transform animation */
  transition: background .3s var(--Power3_easeInOut);

  ._dark &,
  ._black &,
  ._ghost & {
    background-color: white;
  }

  ._is-active & {
    background-color: transparent;
  }

  &:before,
  &:after {
    content: " ";
    display: block;
    width: 24px;
    height: 2px;
    background-color: black;
    position: absolute;
    /* menu-btn-icon transform animation */
    transition: transform .3s var(--Power3_easeInOut);

    ._dark &,
    ._black &,
    ._ghost & {
      background-color: white;
    }
  }

  &:before {
    top: -6px;

    ._is-active & {
      transform: translate3d(0, 6px, 0) rotate(45deg);
    }
  }

  &:after {
    bottom: -6px;

    ._is-active & {
      transform: translate3d(0, -6px, 0) rotate(-45deg);
    }
  }
}
