@import "./variables.css";

/**
 * UNITS table components
 *
 * ==================================
 * @base:   [.uc-table]
 * ==================================
 * @parts:  [.uc-***]
 *          [.uc-***]
 * ==================================
 * @option: [._***]
 *          [._***]
 * ==================================
 */

.uc-table {
  background-color: white;
  min-width: 560px;

  &._col-full {
    width: 100%;
  }

  thead {
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  tbody {
    > tr {
      &:nth-child(even) {
        background-color: var(--color-bg);
      }
    }
  }

  th {
    padding: 20px 32px;
    text-align: left;
  }

  td {
    padding: 24px 32px;
  }
}

.uc-table-unit {
  overflow-x: scroll;
}
