@import "./variables.css";

/**
 * UNITS utility class
 *
 * ==================================
 * @option: [._hide-small]
 *          [._hide-medium]
 *          [._hide-large]
 * ==================================
 */

@media(--small-screen) {
  ._hide-small { display: none !important; }
}

@media(--medium-screen) {
  ._hide-medium { display: none !important; }
}

@media(--large-screen) {
  ._hide-large { display: none !important; }
}
