.#{$modifier-prefix}theme-blog {
  time {
    display: block;
    opacity: .7;
    font-size: 14px;
    margin-top: 16px;
  }
  .uc-sidebar {
    margin-left: 40px;
    box-shadow: none;
    padding: 0;
    @media (--small-screen) {
      display: block;
      margin-left: 0;
      margin-top: 40px;
    }
    .uc-card p {
      @include font-size(14);
    }
  }
  .uc-btn {
    a > i {
      @include font-size(18);
    }
  }
  .uc-list {
    margin-left: 0;
    text-indent: 0;
    > li {
      & + li {
        border-top: 1px solid $color-border;
      }
      &:before {
        display: none;
      }
      a {
        display: block;
        text-decoration: none;
      }
      h3 {
        @include font-size(16);
      }
    }
  }
}
