<header class="uc-header _black _fixed">
  <div class="uc-menu-btn _hide-medium _hide-large" data-open-target="#sidebar">
    <button><i class="uc-menu-btn-icon"></i></button>
  </div>
  <h1 class="uc-header-logo"><a href="/">UNITS</a></h1>
  <div class="uc-header-menu _hide-small">
    <a href="/ja/docs/" class="_is-current">Document</a>
    <a href="#">Themes</a>
    <a href="#">GitHub</a>
    <a href="#">Twitter</a>
  </div>
  <div class="uc-menu-btn _text _hide-medium _hide-large" data-open-target="#menu">
    <button>Menu</button>
  </div>
</header>
