<div class="uc-sidebar _slide uc-grid-cell" id="sidebar">
  <div class="uc-sidebar-wrap">
    <div class="uc-sidebar-list">
      <a href="/ja/docs/" class="_is-current">はじめに</a>
      <a href="/ja/docs/install.html">インストール</a>
      <a href="/ja/docs/coding_guide.html">コーディングガイド</a>
    </div>
    <div class="uc-sidebar-list">
      <p><strong>コンポーネント</strong></p>
      <a href="/ja/docs/components/header.html">ヘッダー</a>
      <a href="/ja/docs/components/footer.html">フッター</a>
      <a href="/ja/docs/components/section.html">セクション</a>
      <a href="/ja/docs/components/sidebar.html">サイドバー</a>
      <a href="/ja/docs/components/grid.html">グリッド</a>
      <a href="/ja/docs/components/hero.html">ヒーローエリア</a>
      <a href="/ja/docs/components/card.html">カード</a>
      <a href="/ja/docs/components/button.html">ボタン</a>
      <a href="/ja/docs/components/form.html">フォーム</a>
      <a href="/ja/docs/components/list.html">リスト</a>
      <a href="/ja/docs/components/table.html">テーブル</a>
      <a href="/ja/docs/components/menu.html">メニュー</a>
      <a href="/ja/docs/components/embed.html">埋め込み</a>
      <a href="/ja/docs/components/pager.html">ページャー</a>
      <a href="/ja/docs/components/typography.html">タイポグラフィー</a>
      <a href="/ja/docs/components/loading.html">ローディング</a>
    </div>
    <div class="uc-sidebar-list">
      <p><strong>関連リンク</strong></p>
      <a href="/">Home</a>
      <a href="https://github.com/kokushin/units" target="_blank">GitHub</a>
      <a href="https://twitter.com/kokushing" target="_blank">Twitter</a>
    </div>
  </div>
</div>
