$prefix: 'uc-';
$max-screen-width: 1200px;
$color-primary: #546e7a;
$color-secondary: #333;
$color-success: #7cb342;
$color-danger: #f4511e;
$color-warning: #fdd835;
$color-dark: #37474f;
$color-bg: #f2f2f2;
$color-code-bg: #282c34;
$color-txt: #333;
$color-border: #ebebeb;
$border-radius: 6px;
$box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box-shadow-hover: 0 8px 16px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
$box-shadow-transition: box-shadow .3s cubic-bezier(.25,.8,.25,1);
$fonts: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$header-height: 80px;
$sidebar-width: 240px;
$grid-gutter: 40px;

@custom-media --small-screen (width <= 768px);
@custom-media --medium-screen (width > 768px) and (width < 1200px);
@custom-media --large-screen (width >= 1200px);
